@import url('https://fonts.googleapis.com/css2?family=Delius&family=Indie+Flower&family=Mukta:wght@500&family=Pacifico&display=swap');

nav{
    background-color: #F94C66;
    text-align: center;
    padding: 2rem;
}

h1{
    color: white;
    font-size: 3rem;
    font-family: 'Mukta', sans-serif;
    margin: auto;
}

h2{
    color: black;
    font-size: 1.5rem;
    font-family: 'Mukta', sans-serif;
    margin: auto;
}

img{
    border: 2px solid white;
}

p{
    text-align: center;
    text-align: justify;
    color: black;
    font-size: 17px;
}

h2{
    text-align: center;
}


